Listings in {{city.name}}:
{{#each city.rentals as |rental|}}
  {{rental-tile rental=rental}}
{{/each}}

{{new-rental save2="save3" city=city}}
<button {{action 'delete' city}}>Delete {{city.name}}</button>
