{{#if addNewCity}}
  <h1>New City</h1>
  <div>
    <form>
      {{input value=name placeholder="City"}}
      {{input value=state placeholder="State"}}
      {{input value=country placeholder="Country"}}
    </form>
    <button class="btn" {{action 'save'}}>Save</button>
  </div>
{{else}}
  <button class="btn" {{action 'cityFormShow'}}>New City</button>
{{/if}}
