<li>
  {{#link-to 'rental' rental.id}}
    {{rental.owner}}'s {{rental.type}} in {{rental.city.name}}
  {{/link-to}}
  {{#if isImageShowing}}
    <p><img {{action 'imageHide'}} src={{rental.image}} alt={{rental.type}} /></p>
  {{else}}
    <button {{action 'imageShow'}}>Show image</button>
  {{/if}}
</li>
