Located in {{rental.city.name}}, this {{rental.bedrooms}} bedroom {{rental.type}} is available by arrangement through {{rental.owner}}.
<br>
<p><img src="{{rental.image}}" alt="{{rental.type}}" /></p>

<button class="btn btn-warning"{{action 'delete' rental}}>Delete Listing</button>
