<div class="container">
  <h1>Super Rentals</h1>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
  </footer>
</div>
