<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<h2>Available Rentals</h2>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<h2>Cities</h2>

<ul>
  {{#each model.cities as |city|}}
    {{city-tile city=city}}
  {{/each}}
</ul>

{{new-city save="save"}}
